<?xml version="1.0" encoding="UTF-8"?>

<projects>
    <project>CMCC
        <module>TestNote</module>
        <module>TestCalendar</module>
        <module>TestChrome</module>
        <module>TestMms</module>
    </project>

    <project>MERCURY
        <module>TestNote</module>
        <module>TestCalendar</module>
    </project>
</projects>
